@inject SignInManager<ApplicationUser> signInManager;

@{
    //Retrieve the details of the name of the logged in user for display on the navbar
    string userTitle = string.IsNullOrWhiteSpace(User.FindFirst("FirstName")?.Value) ? 
    "Update Your Profile" : 
    $"Hi {User.FindFirst("FirstName")?.Value}";

    //Retrieve the details of the Id of the logged in user for navigation purpose
    string userId = string.IsNullOrWhiteSpace(User.FindFirst("Id")?.Value) ?
    string.Empty :
    $"{User.FindFirst("Id")?.Value}";
}

@if (signInManager.IsSignedIn(User))
{
    <li class="nav__item">
        <a asp-controller="Home" asp-action="Index" class="nav__link nav-link @Html.IsActive("Home","Index")">
            <i class="uil uil-estate nav__icon"></i> Home
        </a>
    </li>
    @if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
    {


        <li class="nav__item">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown">
                Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @* To manage users and roles *@
                <a class="dropdown-item nav__link @Html.IsActive("Administration","AllRoles")" asp-controller="Administration" asp-action="AllRoles">
                    Access Control (RBAC)
                </a>
                <a class="dropdown-item nav__link @Html.IsActive("Administration","AllUsers")" asp-controller="Administration" asp-action="AllUsers">
                    Registered Users
                </a>
                @* To manage users and roles *@
                <a class="dropdown-item nav__link @Html.IsActive("Client","Index")" asp-controller="Client" asp-action="Index">
                    All Clients
                </a>
                <a class="dropdown-item nav__link @Html.IsActive("Circuit","Index")" asp-controller="circuit" asp-action="Index">
                    All Services
                </a>
                <a class="dropdown-item nav__link @Html.IsActive("BTS","Index")" asp-controller="BTS" asp-action="Index">
                    Base Transciever Stations
                </a>
                <a class="dropdown-item nav__link @Html.IsActive("NetworkSwitch","Index")" asp-controller="NetworkSwitch" asp-action="Index">
                    Enterprise Switches
                </a>
                <a class="dropdown-item nav__link @Html.IsActive("IPPoP","Index")" asp-controller="IPPoP" asp-action="Index">
                    IP PoPS
                </a>
                <a class="dropdown-item nav__link @Html.IsActive("DCNRouter","Index")" asp-controller="DCNRouter" asp-action="Index">
                    DCN Routers
                </a>
            </div>
        </li>
    }



    <li class="nav__item">
        <a asp-controller="TicketingSystem" asp-action="Index" class="nav__link @Html.IsActive("TicketingSystem","Index")">
            <i class="uil uil-user nav__icon"></i> Ticketing System
        </a>
    </li>

    <li class="nav__item">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown">
            @userTitle
        </a>

        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav__link @Html.IsActive("Administration","UserDetails")" asp-controller="Administration" asp-action="UserDetails" asp-route-id="@userId">
                View Profile
            </a>
            <a class="dropdown-item nav__link @Html.IsActive("Administration","EditUser")" asp-controller="Administration" asp-action="EditUser" asp-route-id="@userId">
                Edit Profile
            </a>
            <a class="dropdown-item nav__link " href="#">
                Change Password
            </a>
            <a class="dropdown-item text-danger @Html.IsActive("Account","Logout")" asp-controller="Account" asp-action="Logout">
                Logout
            </a>
        </div>

    </li>
}
else
{
    <li class="nav__item">
        <a href="#home" class="nav__link">
            <i class="uil uil-estate nav__icon"></i> Home
        </a>
    </li>
    <li class="nav__item">
        <a href="#about" class="nav__link">
            <i class="uil uil-user nav__icon"></i> About
        </a>
    </li>
    <li class="nav__item">
        <a href="#services" class="nav__link ">
            <i class="uil uil-briefcase-alt nav__icon"></i> Services
        </a>
    </li>
    <li class="nav__item">
        <a href="#contact" class="nav__link @Html.IsActive("Home","Index")" id="contactus">
            <i class="uil uil-message nav__icon"></i> Contact Us
        </a>
    </li>
    <li class="nav__item">
        <a asp-controller="Account" asp-action="Register" class="nav__link">
            <i class="uil uil-scenery nav__icon"></i> Sign Up
        </a>
    </li>
    <li class="nav__item">
        <a asp-controller="Account" asp-action="Login" class="nav__link">
            <i class="uil uil-briefcase-alt nav__icon"></i> Login
        </a>
    </li>
}

