
    <div class="form-group" style="max-width:25%;width:auto;">

        <select class="form-control form-select" name="searchBy">
            @foreach (var field in ViewBag.SearchFields)
            {
                if (field.Key == ViewBag.CurrentSearchBy)
                {
                    //To persist the value in the dropdown and prevent
                    //selecting the first by default
                <option value="@field.Key" selected="selected" style="width:auto;">@field.Value</option>
                }
                else
                {
                <option value="@field.Key" style="width:auto;">@field.Value</option>
                }
            }

        </select>
    </div>
    <div class="form-group px-2" style="max-width:20%;width:auto">
    <input name="searchString" type="search" class="form-control" style="width:auto;" placeholder="Search Term" value="@ViewBag.CurrentSearchString" />
    </div>
    <div class="form-group px-2" style="width:10%">
        <button type="submit" class="btn-primary form-control" style="width:auto;"><i class="fas fa-search"></i></button>
    </div>
